.progress-container {
    height: 15;
    width: 100%;
    background-color: #3B3B3B;
    border-radius: 50px;
}

.progress-wrapper {
    background-color: #E07C7C;
    padding: 20px;
    border-radius: 20px;
}

.progress-title {
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
}

.progress-completed {
    color: #EBB9B8;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}